 @import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+15&family=Pixelify+Sans:wght@400..700&family=Russo+One&display=swap');
nav{
    display: flex;
    justify-content: center;
    gap: 8rem;
}

body{
    background-image:url(assets/filip-baotic-C30y56k2Tk0-unsplash.jpg);
    background-size: cover;
}

nav a{
    padding: 10px 20px;
    background-color: rgba(205, 167, 241, 0.884);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Jersey 15', sans-serif;
    border: 2px solid black;
    transition: all 0.3s ease;
}

nav a:hover{
    background-color:rgba(223, 200, 244, 0.884) ;
    cursor: pointer;
}

.journal-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 50px; /* the higher the number, the puffier the pillow */
  border: 3px solid #000; /* optional */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

}

.journal-image:hover {
  transform: scale(1.1); /* zooms in the image on hover */
  transition: transform 0.3s ease; /* smooth transition */
}